body{
    margin: 0;

    
}

a{
    margin: 0;
    text-decoration: none;
}

.full{
    margin: auto;
    width: 100%;
    position: relative;
}

.top_nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0px 20PX ;  
}

h1{ 
    color: #2C72FA;
    text-align: center;
    font-size: 24px;
    font-weight: normal;
}

ul{
    color: #999999;
    margin: 0;
}

.menu_bar>ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 10px 20px;
}

.menu_bar>ul>li{
    display: inline;
}

.first_textbox>p{
    margin-left: 20px;
    font-size: 20;
    font-weight: bold;
    color: #333;
}

.first_box{
    margin: 0;
    width: 350px;
    height: 160px;
    margin-left: 20px;
    margin: auto;
}


.t_box{
    margin-top: 5px;
}

.t_box>p{
    margin: 0;
    margin-bottom: 4px;
}

.first_box>.contain>:nth-child(6){
text-decoration:line-through;
}

.contain{
    font-size: 8px;
    width: 160px;
}

.contain>img{
    border-radius: 10px;
}

.flex>p{
    margin: 0;
    margin-bottom: 5px;
}

.contain>div>:nth-child(1){
    font-weight: bold;
}

.flex{
    display: flex;
    justify-content: space-between;
}

.flex>:nth-child(2){
    color: #FF4949;
}

.first_box{
    display: flex;
    justify-content: space-between;
}

.second_box{
    margin: 0;
    width: 350px;
    height: 160px;
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 25px;
}

.more{
    text-align: center;
    margin-top: 20px;
}

.more>a>button{
    box-sizing: border-box;
    padding: 10px 27px;
    border-radius: 21px;
    border: 1px solid #d9d9d9;
    background-color: white;

}



.second_textbox>a>p{
    margin: auto;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 20;
    font-weight: bold;
    color: #333;
}

.consumer_information{
    box-sizing: border-box;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
}

.consumer_information>a>button{
    display: inline;
    font-size: 8px;
    border-radius: 3px;
    border: 1px solid #d9d9d9;
    background-color: #d9d9d9;

}

.third_box>.img_box>a>img{
    width: 100px;
    height: 154px;
}

.img_box>a{
    padding-right: 20px;
}

.img_box{
    box-sizing: border-box;
    padding: 0px 20px;
    
    display: flex;
    margin: auto;
    overflow: auto hidden;
    white-space: nowrap;
    scrollbar-width: none;
}

.third_box>p{
    font-size: 8px;
    margin-left: 20px;
}

.img_box>button{
    font-size: 25px;
    color: #333;
    padding: 0.1px;
    height: fit-content;
    margin-top: 60px;
    border-style: none ;
    background-color: white;
    
}


.fourth_textbox>a{
    margin-left: 20px;
    font-size: 20;
    font-weight: bold;
    color: #333;
}

.round_box{
    background-color: #eee;
    width: 360px;
    height: 360px;
    margin: auto;
}



.round_box>button>img{
    overflow: hidden;
}

.round_box{
    border-radius: 220px;
    background-color: #eee;
    position: relative;
    display: flex;
    overflow: auto hidden;
    scrollbar-width: none;
    
    
}

.round_box>.next_btn{
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 155px;
    width: 100%;
}

.next_btn>button{
    color: #999999;
    font-size: 50px;    
    font-weight: 300;
    /* opacity: 0.5; */
    border-style: none ;
    background-color: none;
}

.next_btn>button:nth-child(1){
    background-color:unset;
}
.next_btn>button:nth-child(2){
    background-color:unset;
}

footer{
    margin-top: 20px;
    height: 300px;
    background-color: #eee;
}

.b_nav{
    /* background-color:#d9d9d9; */
    position: fixed;
    border-top: 1px solid #d9d9d9 ;
    display: flex;
    justify-content: space-between;
    padding: 8px 20px 20px 12px;
    box-sizing: border-box;
    bottom: 0;
    width: 100%;
    background-color: white;
}

.b_nav>button{
    border-style: none;
    font-size: 20px;
    background-color: white;
}
.b_nav>button>{
    border-style: none;
    background-color: white;
    font-size: 20px;
}

.b_nav>button>p{
    margin: 0;
    font-size: 10px;

}

.b_nav>a{
    text-decoration: none;
}

a>button{
    background: none;
    border: none;
}

.b_nav>a>button{
    
    font-size: 20px;

}

.b_nav>a>button>p{
    margin: 0;
    font-size: 10px;

}