body{
    background-color: #333;
    margin: 0;
    padding: 0.1;
    margin: auto;
}

.back_btn{
    box-sizing: border-box;
    padding: 10px 10px;

    
}
a{
    text-decoration: none;
    border: none;
}
a .btn_box{
    border: none;
}


.back_btn>button{
    color: #eee;
    font-size: 24px;
    border-style:  none;
    background-color: unset;
    
}


.text_box{
    text-align: center;
}

.text_box>h1{
    margin: 0;
    margin-bottom: 10px;
    color: #2C72FA;
}

.text_box>p{
    margin: 0;
    color: white;
    margin-bottom: 10px;
}
.text_box>:nth-child(3){
    color: white;
    font-weight: bold;
}

.img_box{
    width: 350px;
    height: 320px;
    margin: auto;
}

.btn_box{
    margin: auto;
    width: 390px;
    text-align: center;
}

.btn_box>button{
    margin-bottom: 15px;
    box-sizing: border-box;
    padding: 15px 20px;
    width: 350px;
    height: 50px;
    border-radius: 8px;
    border-style: none;
    font-size: 15px;
    font-weight: 600;
    
}

.btn_box>button>img{
    width: 30px;
    height: 30px;
}

.btn_box>p{
    color: #d9d9d9;
    margin: 0;
    font-size: 15px;
    margin-bottom: 10px;
}

.kakao{
    background-color: #F7E600;
    display: flex;
    margin: auto;
    justify-content: center;
}

.google{
    background-color: #d9d9d9;
    display: flex;
    margin: auto;
    justify-content: center;
}

.naver{
    background-color:#03c75a ;
    display: flex;
    margin: auto;
    justify-content: center;
}

.contour{
    
    width: 360px;
    display: flex;
    margin: auto;
    color: #d9d9d9;
}

.contour>hr{
    
    height: 1px;
    border: none;
    background-color: #d9d9d9;
}

.e_mail{
    text-align: center;
    color: #d9d9d9;
}

