body{
    margin: 0;
}

.top_nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 20PX;  
}

h1{ 
    color: #2C72FA;
    text-align: center;
    font-size: 24px;
    font-weight: normal;
}

ul{
    color: #999999;
    margin: 0;
}

.menu_bar>ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 10px 20px;
}

.menu_bar>ul>li{
    display: inline;
}

.main_AD{
    position: relative;
 
}

.main_AD>button{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, -50%);;
    
    background-color: #2C72FA;
    padding: 8px 20px; 
    border-radius: 10px;
    border-style: none ;
    color: #eee;
    font-size: 16px;
    font-weight: bold;
}